
<section class="reviews">

    <h1 class="heading"> clients reviews </h1>
  
    <div class="swiper reviews-slider">
  
      <div class="swiper-wrapper">
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-1.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-2.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-3.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-4.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-5.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="swiper-slide slide">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis unde suscipit quis consequuntur, tempora
            corporis ex molestias dignissimos in cumque sunt ducimus voluptate inventore harum earum rem aperiam vel
            modi?</p>
          <div class="user">
            <img src="images/pic-6.png" alt="">
            <div class="info">
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </section>
  