<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="underlineHover active " style="margin: 20px 0px 0 0; " 
        >Sign In</h2>

        <div>
            <img decoding="async" src="../../assets/img/single_user.png" id="icon" alt="User Icon" />
          </div>
          <form [formGroup]="LoginForm" (ngSubmit)="OnSubmit(LoginForm.value)">
            <input type="text" name="email" formControlName="email" placeholder="email" >
           
            <input type="password" name="password" formControlName="password" placeholder="password" >
            <input type="submit" value="signin" > <br>
            <a href="#/home" style="margin-bottom: 45px !important; color: #56baed; font-size: 20px; " >Back To Home</a>          
            </form>        
    </div>
  </div>