<div class="container" *ngIf="userServices && userServices.length > 0">
    <h2>User Services</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let service of userServices">
          <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.userName }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
