<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Construcion Management System</mat-card-title>
      <mat-card-subtitle>Profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list  >
            <mat-list-item><b>Site Name</b> : {{userData.flatUserDetails[0].siteName.siteName}}  </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Location</b> :  {{userData.flatUserDetails[0].siteName.location}} </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item><b>Category</b> :   {{userData.flatUserDetails[0].siteName.category}} </mat-list-item>
            <mat-divider></mat-divider>
            <!-- <mat-list-item>Mobile-no  : {{userdata.mobileNo}}</mat-list-item>
            <mat-divider></mat-divider> -->
            <mat-list-item><b>FlatNo</b> :  {{userData.flatUserDetails[0].flatNo}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>No Of Floor</b> :  {{userData.flatUserDetails[0].siteName.noOfFloor}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>No Of Flats Per Floor</b> :  {{userData.flatUserDetails[0].siteName.noOfFlatPerFloor}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Total Flats</b> :  {{userData.flatUserDetails[0].siteName.totalFlat}} </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    
        </mat-card-content>
        <mat-card-actions [align]="'end'">
          <button mat-raised-button color="primary" >edit</button>
         
        </mat-card-actions>
      </mat-card>
    
      