
<section class="logo-container-section">
    <div class="swiper logo-slider">
       <div class="swiper-wrapper">
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-1.png" alt=""></div>
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-2.png" alt=""></div>
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-3.png" alt=""></div>
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-4.png" alt=""></div>
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-5.png" alt=""></div>
          <div class="swiper-slide slidesection"><img src="../../../../assets/images/client-logo-6.png" alt=""></div>
       </div>
    </div>
 </section>
 