<h1 mat-dialog-title>Add services</h1>
<div mat-dialog-content>
  <form
    [formGroup]="service_submit_form"
    (ngSubmit)="servicePostData(service_submit_form.value)"
  >
    <mat-form-field appearance="outline">
      <mat-label>service Name</mat-label>
      <input matInput placeholder="Enter service-name" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Enter service-description"
        formControlName="description"
      />
      <mat-label>service description</mat-label>
    </mat-form-field>

   
    <mat-form-field appearance="outline">
      <mat-label>Select Site</mat-label>
      <mat-select formControlName="site_id">
        <mat-option  *ngFor="let item of siteData "  [value]="item._id" >{{item.siteName}}</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="">
      <mat-label></mat-label>
    

      <input
        matInput
        type="file"
        (change)="onFileSelected($event)"
        placeholder="Upload file"
        accept=".jpg,.png,.jpeg"
        formControlName="serviceimage"
      />
    </mat-form-field>

    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>cancel</button>

      <button mat-raised-button color="primary" (click)="show()">
        {{ dialogbtn }}
      </button>
    </div>
  </form>
</div>

