<mat-toolbar>
  <span>Material Management </span>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    style="background-color: #f44336; color: white"
    (click)="openDialog()"
  >
    Add Material
  </button>
</mat-toolbar>
<br />
<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
      />
    </mat-form-field>

    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Material_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Material name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.Material_name }}</td>
        </ng-container>

        <ng-container matColumnDef="Material_quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Material quantity
          </th>
          <td mat-cell *matCellDef="let row">{{ row.Material_quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>unit</th>
          <td mat-cell *matCellDef="let row">{{ row.unit }}</td>
        </ng-container>

        <ng-container matColumnDef="siteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>siteName</th>
          <td mat-cell *matCellDef="let row">{{ row.site_id.siteName }}</td>
        </ng-container>


        <ng-container matColumnDef="Material_cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Material cost
          </th>
          <td mat-cell *matCellDef="let row">{{ row.Material_cost }}</td>
        </ng-container>

        <ng-container matColumnDef="Material_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Material status</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.Material_status === 'tick'; else cancel">
              <mat-icon>done</mat-icon>
            </ng-container>
            <ng-template #cancel>
              <mat-icon>cancel</mat-icon>
            </ng-template>
          </td>
        </ng-container>
        
        
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              color="primary"
              (click)="editMaterialDetails(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="deleteData(row._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
