/* .example-spacer {
    flex: 1 1 auto;
  }
table {
    width: 100%;
  }
.mat-mdc-form-field {
    font-size: 30px;
    width: 100%;
  }
img{
    width: 50px;
    height: 50px;
  }
.mat-form-field-underline {
     border-bottom: 1px solid black;
     width: 5px;
    
  }
.mat-header-cell, .mat-cell{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
.mat-cell:hover{
    cursor: pointer;
    background-color: #eee;
    color: #000;

  }
.mat-header-cell:hover{
    cursor: pointer;
    background-color: #eee;
    color: #000;
  } */


  .example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-icon {
    font-size: 16px; 
    vertical-align: middle; 
  }
  
  .mat-icon.done {
    color: rgb(52, 158, 52); 
  }
  
  .mat-icon.cancel {
    color: rgb(243, 41, 41); 
  }
  
  .mat-icon.in-progress {
    color: rgb(190, 190, 91); 
  }
  