<h1 mat-dialog-title>Add Material</h1>

<div mat-dialog-content>
  <div class="container">
    <form
      [formGroup]="material_form"
      (ngSubmit)="materialPostData(material_form.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Material_name</mat-label>
        <input
          matInput
          placeholder="Enter material-name"
          formControlName="Material_name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material_quantity</mat-label>
        <input
          matInput
          placeholder="Enter material-quantity"
          formControlName="Material_quantity"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select Site</mat-label>
        <mat-select formControlName="siteName">
          <mat-option  *ngFor="let item of getSiteData"  [value]="item.siteName" (onSelectionChange)="getFlatDetails($event)">{{item.siteName}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Select office/flat </mat-label>
        <mat-select  formControlName="flatNo">
          <mat-option *ngFor="let flat of getFlatdata" [value]="flat.flatNo" >{{flat.flatNo}}</mat-option>
          
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Industrial">Industrial</mat-option>
          <mat-option value="Commercial">Commercial</mat-option>
          <mat-option value="Residential">Residential</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>location</mat-label>
        <input
          matInput
          placeholder="enter location of site"
          formControlName="location"
        />
      </mat-form-field>

     

      <mat-form-field appearance="outline">
        <mat-label>Material_cost</mat-label>
        <input
          matInput
          placeholder="Enter material-cost"
          formControlName="Material_cost"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material_status</mat-label>
        <input
          matInput
          placeholder="Enter material-status"
          formControlName="Material_status"
        />
      </mat-form-field>

      <mat-form-field appearance="">
        <mat-label></mat-label>
        <input
          matInput
          type="file"
          (change)="onFileSelected($event)"
          placeholder="Upload file"
          accept=".jpg,.png,.jpeg"
          formControlName="Material_img"
        />
      </mat-form-field>

      <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
        <button mat-raised-button color="primary">
          {{dialogbtn}}
        </button>
      </div>
    </form>
  </div>
</div>
