<h1 mat-dialog-title>Add Material</h1>

<div mat-dialog-content>
  <div class="container">
    <form
      [formGroup]="material_form"
      (ngSubmit)="materialPostData(material_form.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Material_name</mat-label>
        <input
          matInput
          placeholder="Enter material-name"
          formControlName="Material_name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material_quantity</mat-label>
        <input
          matInput
          placeholder="Enter material-quantity"
          formControlName="Material_quantity"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>sitename</mat-label>
        <input
          matInput
          placeholder="Enter site name"
          formControlName="sitename"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>flatnumber</mat-label>
        <input
          matInput
          placeholder="Enter flat number"
          formControlName="flatnumber"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material_cost</mat-label>
        <input
          matInput
          placeholder="Enter material-cost"
          formControlName="Material_cost"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material_status</mat-label>
        <input
          matInput
          placeholder="Enter material-status"
          formControlName="Material_status"
        />
      </mat-form-field>

      <mat-form-field appearance="">
        <mat-label></mat-label>
        <input
          matInput
          type="file"
          (change)="onFileSelected($event)"
          placeholder="Upload file"
          accept=".jpg,.png,.jpeg"
          formControlName="Material_img"
        />
      </mat-form-field>

      <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
        <button mat-raised-button color="primary" (click)="show()">
          {{ dialogbtn }}
        </button>
      </div>
    </form>
  </div>
</div>
