<h1 mat-dialog-title>Add Material</h1>

<div mat-dialog-content>
  <div class="container">
    <form
      [formGroup]="material_form"
      (ngSubmit)="materialPostData(material_form.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Material name</mat-label>
        <input
          matInput
          placeholder="Enter material-name"
          formControlName="Material_name"
          value="row[0].Material_name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material quantity</mat-label>
        <input
          matInput
          placeholder="Enter material-quantity"
          formControlName="Material_quantity"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>unit</mat-label>
        <input matInput placeholder="Enter unit" formControlName="unit" />
      </mat-form-field>

      <div *ngIf="onlyUserField">
        <mat-form-field appearance="outline">
          <mat-label>Select Site</mat-label>
          <mat-select formControlName="siteName">
            <mat-option
              *ngFor="let item of getSiteData"
              [value]="item"
              (onSelectionChange)="getFlatDetails($event)"
              >{{ item.siteName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="onlySiteField">
        <mat-form-field appearance="outline">
          <mat-label>Site name</mat-label>
          <input matInput formControlName="siteName"  />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Material cost</mat-label>
        <input
          matInput
          placeholder="Enter material-cost"
          formControlName="Material_cost"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Material status</mat-label>
        <mat-select
          placeholder="Select material status"
          formControlName="Material_status"
        >
          <mat-option value="tick">Tick</mat-option>
          <mat-option value="cancel">Cancel</mat-option>
          <mat-option value="in progress">In Progress</mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
        <button type="submit" mat-raised-button color="primary">
          {{ dialogbtn }}
        </button>
      </div>
    </form>
  </div>
</div>
