<section class="about" id="about">

    <h1 class="heading"> about us </h1>
 
    <div class="row">
 
       <div class="video">
          <video src="../../../assets/images/about-vid.mp4" loop muted autoplay></video>
       </div>
 
       <div class="content">
          <h3>We will provide you the best work which you dreamt for!</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas et vero mollitia nemo corporis consequatur aspernatur distinctio dignissimos velit nam.</p>
          <a href="#services" class="btn">read more</a>
       </div>
 
    </div>
 
    <div class="box-container">
 
       <div class="box">
          <h3>10+</h3>
          <p>years of experience</p>
       </div>
 
       <div class="box">
          <h3>1500+</h3>
          <p>project completed</p>
       </div>
 
       <div class="box">
          <h3>790+</h3>
          <p>satiesfied clients</p>
       </div>
 
       <div class="box">
          <h3>450+</h3>
          <p>active workers</p>
       </div>
 
    </div>
 
 </section>