<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Construcion Management System</mat-card-title>
    <mat-card-subtitle>Service</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><b></b>Available Service</th>
          <th scope="col">Description</th>
          <th scope="col">selected service</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of serviceDataDisplay">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <button mat-raised-button color="primary" (click)="addService(item)">Add Service</button>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary"[disabled]="selectedServices.length === 0" (click)="requestService()">Request Service</button>
  </mat-card-actions>
</mat-card>