<div class="navbaruser">
    <!-- <div class="topuser">
        <img  src="../../../assets/images/client-logo-1.png" >
        <h2>constrution</h2>
    </div> -->
    <div class="iconuser">
        <img  src="{{userdata.image}}" >
        <h4 class="namerole">{{userdata.name}} </h4>
        <p class="mailuser">{{userdata.email}}</p>
    </div>
    <div class="usermenu">
 
        <div class="usermenu-item">
            <button mat-button class="usermenubutton"  *ngFor="let menuItem of menuItems" class="{{menuItem.class}}"  >
               <a [routerLink]="[menuItem.path]">
                <mat-icon >{{menuItem.icon}}</mat-icon>
                <span>{{menuItem.title}}</span>
            </a>
            </button>


           

        </div>
    </div>
</div>
