<section class="home1section" id="home">

    <div class="swiper home-slider">
 
       <div class="swiper-wrapper">
 
          <section class="swiper-slide slidesection " style="background: url(../../../../assets/images/home-slide-1.jpg) no-repeat;">
             <div class="content">
                <h3 class="testcontent" >we provide best service</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum magnam eos!</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>
 
          <section class="swiper-slide slidesection" style="background: url(../../../../assets/images/home-slide-2.jpg) no-repeat;">
             <div class="content">
                <h3 class="testcontent">making dream come to life</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum
                   magnam eos!</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>

          <section class="swiper-slide slidesection" style="background: url(../../../../assets/images/home-slide-3.jpg) no-repeat;">
             <div class="content">
                <h3 class="testcontent" >from concept to creation</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum
                   magnam eos!</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>
 
       </div>
<!--      
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div> -->
    </div>
 
 </section>

