<h1 mat-dialog-title>{{userTitle}}</h1>

<div mat-dialog-content>
  <form
    [formGroup]="AddUser" (ngSubmit)="userAdd(AddUser.value)"
  >
 <div *ngIf="onlySiteField">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter user Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email " formControlName="email"  />
     
    </mat-form-field>
  </div>

    <div *ngIf="onlyUserField">
    <mat-form-field appearance="outline">
      <mat-label>Select Site</mat-label>
      <mat-select formControlName="siteName">
        <mat-option  *ngFor="let item of getSiteData"   [value]="item" (onSelectionChange)="getFlatDetails($event)">{{item.siteName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select office/flat </mat-label>
      <mat-select  formControlName="flatNo">
        <mat-option *ngFor="let flat of getFlatdata" [value]="flat.flatNo" >{{flat.flatNo}}</mat-option>
        
      </mat-select>
    </mat-form-field>
  </div>
    

    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
      <button mat-raised-button color="primary" >
      {{customBtn}}
      </button>
    </div>
  </form>
</div>
