<h1 mat-dialog-title>Add user</h1>

<div mat-dialog-content>
  <form
    [formGroup]="AddUser" (ngSubmit)="userAdd(AddUser.value)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter user Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email " formControlName="email"  />
     
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>site-name</mat-label>
      <input matInput placeholder="Enter site-name" formControlName="siteName"  />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>FlatNo/Office: no</mat-label>
      <input matInput placeholder="enter your flatNo or office no" formControlName="flatNo"  />
    </mat-form-field>
    

    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
      <button mat-raised-button color="primary">
      {{customBtn}}
      </button>
    </div>
  </form>
</div>
