<h1 mat-dialog-title>Add user</h1>

<div mat-dialog-content>
  <form
    [formGroup]="AddUser" (ngSubmit)="userAdd(AddUser.value)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter user Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email " formControlName="email"  />
     
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select formControlName="name">
        <mat-option  *ngFor="let item of getSiteData"  [value]="item._id" (onSelectionChange)="getFlatDetails($event)">{{item.name}}</mat-option>
       
      </mat-select>
    </mat-form-field>
    
    <!-- <select name="d" id="k" (change)="getFlatDetails($event)" formControlName="flatNo">
      <option value="vivek">vivek</option>
      <option value="kamlesh">kamlesh</option>
    </select> -->

    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select  formControlName="flatNo">
        <mat-option ></mat-option>
        
      </mat-select>
    </mat-form-field>
    

    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
      <button mat-raised-button color="primary">
      {{customBtn}}
      </button>
    </div>
  </form>
</div>
