<mat-card>
  <mat-card-header>
    <mat-card-title>Owner Details</mat-card-title>
    <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Owner">
        <div class="mat-tab-body-content">
          <p><b>Name</b> : {{ editData.name }}</p>

          <p><b>Email</b> : {{ editData.email }}</p>
        </div>
      </mat-tab>
      <mat-tab
        label="Flats/Offices"
        *ngFor="let item of editData.flatUserDetails"
      ><div class="mat-tab-body-content" >
        <p><b>FlatNo</b> : {{ item.flatNo }}</p>
        <p><b>Site</b> : {{ item.siteName.siteName }}</p>
      </div>
      </mat-tab>
      <mat-tab label="Site" *ngFor="let item of editData.flatUserDetails">
        <div class="mat-tab-body-content" >
        <p><b>Site Name</b> : {{ item.siteName.siteName }}</p>
        <p><b>Category</b> : {{ item.siteName.category }}</p>
        <p><b>location</b> : {{ item.siteName.location }}</p>
        <p><b>No Of Floor</b> : {{ item.siteName.noOfFloor }}</p>
        <p><b>No Of Flats</b> : {{ item.siteName.noOfFlatPerFloor }}</p>
      </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
