<section class="projects" id="projects">

    <h1 class="heading"> our projects </h1>
 
    <div class="box-container">
      <div *ngFor="let list of SiteDataDisplay">
       <a href="../../../../assets/images/project-1.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-1.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>{{list.siteName}} </h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
      </div>




       <!-- <a href="../../../../assets/images/project-2.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-2.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>dream home</h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
 
       <a href="../../../../assets/images/project-3.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-3.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>dream home</h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
 
       <a href="../../../../assets/images/project-4.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-4.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>dream home</h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
 
       <a href="../../../../assets/images/project-5.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-5.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>dream home</h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
 
       <a href="../../../../assets/images/project-6.jpg" class="box">
          <div class="image">
             <img src="../../../../assets/images/project-6.jpg" alt="">
          </div>
          <div class="content">
             <div class="info">
                <h3>dream home</h3>
                <p>construction, design</p>
             </div>
             <i class="fas fa-plus"></i>
          </div>
       </a>
  -->
    </div>
 
 </section>
 