<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">construction </i>
            </div>
            <p class="card-category" routerLink="/material">MATERIAL</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">construction</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">settings</i>
            </div>
            <p class="card-category" routerLink="/typography">Service</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">settings</i>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category" routerLink="/maps">Manage-User</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">person</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">home</i>
            </div>
            <p class="card-category" routerLink="/notifications">
              Site Management
            </p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">home</i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="design">
        <div class="row d-flex flex-wrap" id="design">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-chart">
              <div class="card-body">
                <h2 class="card-title">SITES</h2>
                <h4 class="card-category">SITE 1</h4>
                <h4 class="card-category">SITE 2</h4>
                <h4 class="card-category">SITE 3</h4>
                <h4 class="card-category">SITE 4</h4>
                <h4 class="card-category">SITE 5</h4>

                <p class="card-category">
                  <span class="text-success"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-chart">
            <div class="card-body">
              <h2 class="card-title">MATERIAL</h2>
              <h4 class="card-category">Cement</h4>
              <h4 class="card-category">Wood</h4>
              <h4 class="card-category">Bricks</h4>
              <h4 class="card-category">Aggregates</h4>

              <p class="card-category">
                <span class="text-success"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-chart">
          <div class="card-body">
            <h2 class="card-title">SERVICE</h2>
            <h4 class="card-category">To do wall</h4>
            <h4 class="card-category">To do paint</h4>
            <h4 class="card-category">To do pop</h4>
            <p class="card-category"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
