<!-- header section ends -->
<app-header-section></app-header-section>
<!-- home section starts  -->
<app-homesilder></app-homesilder>
<!-- home section ends -->
<!-- about section starts  -->
<app-aboutsection></app-aboutsection>
<app-services-section></app-services-section>
<!-- services section ends -->
<!-- projects section starts  -->
<app-projects-section></app-projects-section>
<!-- projects section ends -->
<!-- reviews section starts  -->
<!-- <app-review-section></app-review-section> -->
<!-- contact section starts  -->
<app-contact-section></app-contact-section>
<!-- contact section ends -->
<!-- client logo section starts -->
<app-clientlogo-section></app-clientlogo-section>
<!-- client logo section ends -->
<!-- footer section starts  -->
<app-footer-section></app-footer-section>