<h1 mat-dialog-title>{{siteTitle}}</h1>

<div mat-dialog-content>
  <form
    [formGroup]="site_submit_form"
    (ngSubmit)="sitePostData(site_submit_form.value)"
  >
    <mat-form-field appearance="outline">
      <mat-label>site Name</mat-label>
      <input matInput placeholder="Enter site-name" formControlName="siteName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="Industrial">Industrial</mat-option>
        <mat-option value="Commercial">Commercial</mat-option>
        <mat-option value="Residential">Residential</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>location</mat-label>
      <input
        matInput
        placeholder="enter location of site"
        formControlName="location"
      />
    </mat-form-field>


    <!-- number of floors -->
    <mat-form-field appearance="outline">
      <mat-label>number of floors</mat-label>
      <input
        matInput
        placeholder="Enter number of floors"
        formControlName="noOfFloor"
      />
    </mat-form-field>


  <!--number of flat per floor  -->
  <mat-form-field appearance="outline">
    <mat-label>Number of flat</mat-label>
    <input
      matInput
      placeholder="Enter number of the Flats per floor"
      formControlName="noOfFlatPerFloor"
    />
  </mat-form-field>

<!-- taking image from user -->
    <input
      type="file"
      (change)="onFileSelected($event)"
      formControlName="image"
      accept=".jpg,.png,.jpeg"
    />

    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>cancel</button>
      <button mat-raised-button color="primary" [disabled]="site_submit_form.invalid">{{ dialogbtn }}</button>
    </div>
  </form>
</div>
