<mat-sidenav-container class="container-fluid example-container ">
    <mat-sidenav  #sidebar mode="side" opened>
        <app-sidebar-user></app-sidebar-user>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <div class="box" style="color:#3f51b5 ; margin-bottom: 15px ; " >
                       Construction Management
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
<router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>